html {
    background-color:cornflowerblue;
}

h1 {
    font-family: Arial sans-serif Impact;
    margin: 50px auto;
    padding: 20px;
    font-weight: 900;
    position: relative;
    color: black;
    font-size: 50px;
    border-width: 15px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

img {
    border-width: 15px;
    border-style: solid;
    border-color: black;
    text-align: center;
    
    
}

p {
    text-align: center;

}